.menu {
    position: fixed;
    top: 0px;
}

.admin-bar .menu {
    top: 32px; /* on prend en compte le décalage */
}

body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: center;
    background-color: #232634;
    .logo {
        width: 30vw;
    }
}
h1 {
    margin: 6vw 20vw 5vw 20vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #232634;
}
h2 {
    margin: 0 20vw 5vw 20vw;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #232634;
}
h4 {
	margin-left: 20vw;
}
.post {
    flex-direction: column;
    display: flex;
}
.wp-post-image {
	width: 60vw;
	height: auto;
	margin-left: 20vw;
}
img {
	width: 60vw;
}
.alignright {
	width: 60vw;
}
.photo {
	width: 5vw;
	height: 5vw;
	border-radius: 45%;
}
.post__meta {
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	margin: 5vw 0 4vw 20vw;
}
.txt-post-meta {
	font-family: 'Rubik', sans-serif;
	margin: 0 20vw 0 2vw;
}
.post-content {
	display: flex;
}
p {
    margin: 0 20vw 5vw 20vw;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    color: #4a4f67;
}
.post__link {
    display: flex;
    justify-content: flex-end;
    color: #232634;
    text-decoration: none;
    padding: 1vw;
    font-weight: 500;
}
.post__link:hover {
    font-weight: 600;
}
blockquote {
	font-style: italic;
}
ul {
	font-family: 'Rubik', sans-serif;
    margin-left: 17vw;
    margin-bottom: 5vw;
}
hr {
	width: 20vw;
    margin-bottom: 5vw;
}